ncrf.egg-info/top_level.txt
ncrf.egg-info/SOURCES.txt
ncrf.egg-info/PKG-INFO
ncrf.egg-info/dependency_links.txt
fit_ncrf/*.log
*.out
*.so
fit_ncrf/*.pickled
*egg-info
.idea/
build/
__pycache__/
ncrf/__pycache__/
ncrf/dsyevh3C/__pycache__/
ncrf/opt.c
ncrf/dsyevh3C/*.pxd
ncrf/dsyevh3C/*.cpp
*.html
ncrf_data
.pytest_cache
.DS_Store
*/.ipynb_checkpoints/*