docs/_build
docs/api/generated
docs/auto_examples
docs/sg_execution_times.rst
ncrf.egg-info
fit_ncrf/*.log
*.out
*.so
fit_ncrf/*.pickled
*egg-info
.idea/
build/
__pycache__/
ncrf/__pycache__/
ncrf/dsyevh3C/__pycache__/
ncrf/opt.c
ncrf/dsyevh3C/*.pxd
ncrf/dsyevh3C/*.cpp
*.html
ncrf_data
.pytest_cache
.DS_Store
*/.ipynb_checkpoints/*
