name: Python Package using Conda on windows

on:
  push:
    branches:
      - master
      - maint*
  pull_request:
    branches: [ "master" ]

jobs:
  build-windows-latest:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: false
        environment-file: env-dev.yml
        activate-environment: ncrf
    - name: build Neuro-currentRF
      shell: bash -el {0}
      run: |
        conda info
        pip install .
    - name: Test with pytest
      shell: bash -el {0}
      run: |
        pytest --import-mode=importlib  --crossvalidation=True
